@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --color1: #007acc;
    --color2: #1e1e1e;
    --color3: #252526;
    --color4: #2d2d30;
    --color5: #3e3e42;
    --color6: #ffffff;
}

html {
    background-color: var(--color2);
    font-size: 10px;
    color: var(--color6);
    font-family: "Titillium Web", sans-serif;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

body > *{
    padding: 0 15vw;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: var(--color3);
    z-index: 1000;
}

.icon {
    font-size: 3rem;
    color: var(--color1);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color1);
    font-weight: 700;
    font-size: 1.7rem;
    height: 100%;
    width: 10rem;
    min-width: 5rem;
}

.nav-link:hover {
    border-bottom: 2px solid var(--color1);
    background-color: var(--color4);
}

.checkbox {
    display: none;
}

.menu-btn {
    display: none;
    color: var(--color1);
    font-size: 2.5rem;
    cursor: pointer;
}

main {
    margin: 4vh 0;
}

.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 5rem;
}

.my-name {
    background-color: var(--color3);
    padding: 1rem 2rem;
    border-radius: 20px;
    color: var(--color6);
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid var(--color5);
    text-align: center;
}

.intro {
    text-align: center;
    font-size: clamp(5rem, 4.5vw, 7rem );
    max-width: 80rem;
    line-height: 0.9;
    font-weight: 900;

}
.emphasize-blue {
    color: var(--color1);
}

.progress {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10vw;
}

.progress li {
    display: flex;
    gap: 1rem;
    width: 10rem;
    align-items: center;
}

.progress li h2 {
    background-color: var(--color3);
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    color: var(--color6);
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid var(--color5);
    text-align: center;
}

.progress li p {
    font-size: 1.1rem;
}

.divider {
    border: 1px solid var(--color5);
    height: 100%;
    max-width: 1px;
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vw;
    height: fit-content;
    padding: 10vh 0;
}

.h1-section-title {
    font-size: clamp(3rem, 3vw, 5rem);
    font-weight: 900;
}

.abtme-content {
    display: flex;
    gap: 2vw;
    justify-content: left;
    height: 30rem;
    flex-wrap: wrap;
}

.abtme-text {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 50%;
    font-size: 1.7rem;
    text-align: justify;
    justify-content: center;
}

.abtme-image {
    height: 100%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        justify-content: flex-start;
        right: -100%;
        top: 10vh;
        height: 100vh;
        width: 50vw;
        flex-direction: column;
        background-color: var(--color3);
        transition: all 0.5s;
        overflow-x: hidden
    }
    .nav-link {
        height: 10%;
        width: 100%;
    }
    .menu-btn {
        display: block;
    }
    .checkbox:checked ~ .navbar {
        right: 0;
    }
}

@media (max-width: 426px) {
    main {
        padding: 0 5vw;
    }
}

@media (max-width: 909px) {
    .abtme-text {
        width: 100%;
    } 
}